@font-face {
  font-family: "TR2N";
  src: url("../fonts/TRN.woff2") format("woff2"), url("../fonts/TRN.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Flynn";
  src: url("../fonts/Flynn.woff2") format("woff2"), url("../fonts/Flynn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----*/
.ibg {
  background-position: center;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.footer {
  height: 70px;
  position: absolute;
  bottom: -45px;
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 1210px;
}

@media (min-width: 1210px) {
  .footer {
    left: calc(50% - 605px);
  }
}

.footer__container p {
  opacity: 0.8;
  position: absolute;
  left: 30px;
}

@media (max-width: 450px) {
  .footer {
    height: 100px;
  }
}
.footer__container {
  color: #a8f5ff;
  font-size: 20px;
  font-family: "TR2N";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 450px) {
  .footer__container p {
    top: -15px;
    left: calc(50% - 14%);
  }
  .footer a {
    top: 15px;
    left: calc(50% - 13%);
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__container_list {
    margin: 0 0 10px 0;
  }
}
.footer__container p {
  opacity: 0.8;
}
.footer__container_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__container_link {
  margin: 0 10px;
}

.footer a {
  opacity: 0.8;
  color: #a8f5ff;
  position: absolute;
  right: 25px;
}
.footer a:hover {
  opacity: 1;
}
