@font-face {
  font-family: "TR2N";
  src: url("../fonts/TRN.woff2") format("woff2"), url("../fonts/TRN.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Flynn";
  src: url("../fonts/Flynn.woff2") format("woff2"), url("../fonts/Flynn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----*/
.ibg {
  background-position: center;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page__title_green {
  color: #5ac55a;
  text-shadow: 5px 5px 5px green;
}

.page__section0_I5 {
  position: relative;
  padding: 0 0 30% 0;
  max-width: 1200px;
  margin: 0 auto 30px auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  border: 10px solid #5ac55a;
  -webkit-box-shadow: 0px 0px 15px green;
          box-shadow: 0px 0px 15px green;
  border-radius: 8px;
}

.i5__one, .i5__one1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  font-size: 0;
  padding: 5px;
  z-index: 6;
  opacity: 0;
}

.i5__one:nth-child(2) {
  left: 20%;
}

.i5__one:nth-child(3) {
  left: 40%;
}

.i5__one:nth-child(4) {
  left: 60%;
}

.i5__one:nth-child(5) {
  left: 80%;
}

.i5__one1 {
  z-index: 5;
  opacity: 1;
}

.i5__one1:nth-child(7) {
  left: 20%;
}

.i5__one1:nth-child(8) {
  left: 40%;
}

.i5__one1:nth-child(9) {
  left: 60%;
}

.i5__one1:nth-child(10) {
  left: 80%;
}

.none {
  display: none;
}

.i5__one11 {
  background-size: 67%;
  background-repeat: no-repeat;
  top: -1%;
}

.i5__one12 {
  background-size: 112%;
  background-position: 37% 50%;
  background-repeat: no-repeat;
  top: -1%;
}

.i5__one13 {
  background-size: 75%;
  background-repeat: no-repeat;
}

.i5__one14 {
  background-size: 114%;
  top: -2%;
  background-repeat: no-repeat;
}

.i5__one15 {
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .page__section0_I5 {
    padding: 0 0 180% 0;
    max-width: 200px;
    min-height: 1334px;
  }

  .i5__one, .i5__one1 {
    left: 16%;
    height: 25%;
    margin-top: -10%;
    width: 72%;
  }

  .i5__one:nth-child(2) {
    left: 16%;
    top: 20%;
  }

  .i5__one:nth-child(3) {
    left: 16%;
    top: 40%;
  }

  .i5__one:nth-child(4) {
    left: 16%;
    top: 60%;
  }

  .i5__one:nth-child(5) {
    left: 16%;
    top: 80%;
  }

  .i5__one1 {
    z-index: 5;
    opacity: 1;
  }

  .i5__one1:nth-child(7) {
    left: 16%;
    top: 20%;
  }

  .i5__one1:nth-child(8) {
    left: 16%;
    top: 40%;
  }

  .i5__one1:nth-child(9) {
    left: 16%;
    top: 60%;
  }

  .i5__one1:nth-child(10) {
    left: 16%;
    top: 80%;
  }

  .i5__one11 {
    background-size: 80%;
    top: -1%;
  }

  .i5__one12 {
    background-size: 110%;
    top: 1%;
  }

  .i5__one13 {
    background-size: 110%;
    top: -1%;
  }

  .i5__one14 {
    background-size: 110%;
    top: -2%;
  }

  .i5__one15 {
    background-size: 110%;
    top: 0%;
  }
}